@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Welcome to Best Beverages!</h3>

<p>Please register and log in if you would 
    like to view our beverage database. You may add, edit, delete, and 
    filter through our beverages. If you have any questions, you
    may find information to contact us in the Contact page.</p>
