@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Please reach out to us at:</h3>


<address>
    <strong>Email:</strong>   <a href="mailto:samo3642@mail.kvcc.edu">samo3642@mail.kvcc.edu</a><br />
</address>